*{margin: 0; padding:0;}
#cardLog{
    width: 410px;
    height: 470px;
    margin: auto;
    margin-top: 16%;
    border-radius: 5px;
    background-color: rgba(10,23,55,0.5);
}
/* botão de login */
.btn{
    width: 150px;
    height: 50px;
    font-weight: 200;
    margin-top: -15%;
    background-color: #ff3366;
    border: 1px solid #ff3366;
    border-radius: 35px;
    transition: width .5s;
    opacity: 1 !important;
    margin-right: 0 !important;
}
/* botão de login */
.btn:hover{
    width: 265px;
    background-color: #ff3366; 
    color: white;
    opacity: 2 !important;
}
#title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(10, 24, 55, 0);
}
#img1{ 
    position: fixed;
}
#login_input:focus {
    border-bottom: 1px solid #8A9DAE;
    box-shadow: 0 1px 0 0 #8A9DAE;
  }
  
  #login_input:focus + label {
    color: #8A9DAE;
  }


#pass:focus {
    border-bottom: 1px solid #8A9DAE;
    box-shadow: 0 1px 0 0 #8A9DAE;
  }
  
  #pass:focus + label {
    color: #8A9DAE;
  }

.logout {line-height: 50px;}
.sample-admin {height: auto; line-height: 40px; display: flex; justify-content: center; overflow-x: auto;}
.button-editar {margin-top: 0 !important;}
.list-clients {margin: 65px 0 30px 0;}
.space {padding: 0px 20px 20px; box-sizing: border-box; border: 1px solid #ccc; margin: 10px 10px 10px 0; width: 360px;}
.hd {border-left: 3px solid #da3b3b;}
.memory {border-left: 3px solid #3b9fda;}
.users {border-left: 3px solid #3bda5d;}
.space__disk {font-size: 70px;}
.space__disk sub {font-size: 15px;}
.nowrap {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 100px;}
.wrap-overflow {height: 290px; overflow: auto;}