*{margin: 0; padding:0;}
#cardLog{
    width: 410px;
    height: 470px;
    margin: auto;
    margin-top: 16%;
    border-radius: 5px;
    background-color: rgba(10,23,55,0.5);
}
/* botão de login */
.btn{
    width: 150px;
    height: 50px;
    font-weight: 200;
    margin-top: 20px;
	margin-left:43%;
    background-color: #ff3366;
    border: 1px solid #ff3366;
    border-radius: 35px;
    transition: width .5s;
    opacity: 1 !important;
    margin-right: 0 !important;
    position: relative;
    overflow: hidden;
    transition: transform .2s;
}
.btn.submit {margin: 0;}
/* botão de login */
.btn:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
}
.btn:hover {
    background-color: #ff3366;
}
#title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(10, 24, 55, 0);
}
#img1{
    position: fixed;
	width: 100%;
    height: 100%;
}
#login_input:focus {
    border-bottom: 1px solid #8A9DAE;
    box-shadow: 0 1px 0 0 #8A9DAE;
  }

  #login_input:focus + label {
    color: #8A9DAE;
  }


#pass:focus {
    border-bottom: 1px solid #8A9DAE;
    box-shadow: 0 1px 0 0 #8A9DAE;
  }

  #pass:focus + label {
    color: #8A9DAE;
  }

